.atendimento, .pedido{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px;
    border-radius: 5px;
    border-style: outset;
    padding: 10px;
    font-size: 23px;
    min-width: 800px;
}

.pedido{
    max-width: 800px;
    margin-bottom: 10px;
}


.div_atendimento{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.botoes_CRUD_pedido{
    color: white;
    padding: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.atendimento label{
    margin-right: 10px;
}

.atendimento input{
    font-size: 18px;
}


.pedido p{
    margin: 0;
}

.flex_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.botao_confirmar{
    background-color: green;
}

.botao_deletar{
    background-color: red;
    min-width: 300px;
}

.botao_editar{
    background-color: rgb(24, 157, 209);
     min-width: 300px;
}

.botao_detalhe{
    background-color: gray;
     min-width: 300px;
}

.div_botoesCRUD{
    display: flex;
    justify-content: space-around;
    
 }   


.botao_voltar{
    text-decoration: none;
    color: black;
    background-color: lightgray;;
    padding: 10px;
    font-size: 20px;
    width: 80px;
    text-align: center;
    border-radius: 5px;
    margin-left: 20px;

}

.botao_voltar:hover{
    background-color: black;
    color: white;
}

.cabecalho_edicao,.cabecalho_detalhes{
  display: flex;
  align-items: center; 
  margin-bottom: 20px;
}

.cabecalho_edicao{
    gap: 660px;
}

.cabecalho_detalhes{
    gap: 720px;
}

.pedido_detalhes{
    font-weight: bold;
}

.paginacao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

.paginacao button {
  padding: 5px 10px;
  background: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.paginacao button:disabled {
  background: #999;
  cursor: not-allowed;
}