html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#__next {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

nav{
  display: flex;
}
header{
  font-family: Playfair Display;
}

footer span{
  font-weight: bold;
}

section{
  display: flex;
  margin-top: 50px;
  align-items: center;
}

#section_1{
  gap: 400px;
  
}

#section_2{
  gap: 120px;
  background-color: black;
  color: white;
}


#paragrafo_slogan{
  font-size: 50px;
  text-align: center;
  max-width: 720px;
  max-height: 420px;
}

#foto_gera{
  margin-left: 10px;
}

ul{
  font-size: 20px;
}

.informacoes_de_contato{
  display: flex;
  align-items: start; /* opcional, centraliza os textos */
  gap: 5px; /* espaço entre os <p> */
  margin-top: 2rem;
  justify-content: space-around;
  align-items: center;
  line-height: 8.5px;
  margin-bottom: 10px;
}

.informacoes_de_contato div{
  font-size: 2em;
}

h1{
  text-align: center;
}

/* animação */

#foto_gera,
.grupo_ul_1,
#section_1 p,
.grupo_ul_2,
.informacoes_de_contato div,
.informacoes_de_contato iframe{
  transition: all 1s ease-out;
}


#foto_gera,.grupo_ul_1,.informacoes_de_contato div{
   transform: translateX(-1000px); 
}

#section_1 p,.grupo_ul_2,.informacoes_de_contato iframe{
  transform: translateX(1000px); 
}



#foto_gera.visible,
#section_1 p.visible,
.grupo_ul_1.visible,
.grupo_ul_2.visible,
.informacoes_de_contato div.visible,
.informacoes_de_contato iframe.visible {
  transform: translateX(0px);
}


