.div_header{
    display: flex;
    background-color: lightgray;
    justify-content: center; 
    height: 230px;
}

.navbar{
    display: flex;
    gap: 1px;
}

.links{
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 24px;
}

.links:hover{
    background-color: white;
    color: black;
}

.botoes_header{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

.botoes_cadastro_login{
    text-decoration: none;
    color: black;
    padding: 10px;
    min-width: 200px;
    background-color:white;
    border-radius: 6px;
    border: 0px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    
}

.botoes_cadastro_login:hover{
   background-color: #1a1a1a;
    color: #ffffff;
}


.logo{
margin-right: 300px;
margin-left: 530px;
}

.logo_deslogado{
    margin-right: 350px;
    margin-left: 350px;
}