.titulo_sobre{
    text-align: center;
}

.texto_sobre{
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.texto_sobre p{
    max-width: 800px;
}

.texto_sobre span, .titulo_sobre span{
    color: rgb(92, 89, 89);
    font-weight: bold;
}
